{# home.njk #}
{% extends "layout.njk" %}

{% import 'partials/header.njk' as header %}

{% block titleHeader %}{% endblock %}

{% block bodyClass %}{% endblock %}

{% block content %}

	{{ header.header() }}

{% endblock %}