{# footer.njk #}

{% macro footer() %}
	
	<footer class="footer d-none d-md-block">

		<div class="container">
			<img src="public/img/bebee-white.png" class="logo">
			<span class="slogan">Sucesfull personal Branding</span>
			<span class="copy">Copyright</span>
		</div>


	</footer>

	<button class="btn btn-primary btn-lg btn-block d-md-none">Apply</button>

{% endmacro %}