{% macro header() %}

<header>
	
	<img src="public/img/bebeelearningv.svg" class="logo">

	<button class="btn btn-secondary">Registrarse</button>
	<button class="btn btn-light">Login</button>

</header>

{% endmacro %}